[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
cryptography = "==42.0.5"
Flask = "==3.0.3"
marshmallow = "==3.21.1"
pip-audit = "==2.7.2"
PyJWT = "==2.8.0"
pymisp = "==2.4.151"
requests = "==2.31.0"

[dev-packages]
black = "==24.3.0"
coverage = "==7.4.3"
flake8 = "==6.1.0"
pytest = "==8.1.1"
pip-audit = "==2.7.2"

[requires]
python_version = "3.9"
