[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==42.0.7"
Flask = "==3.0.3"
marshmallow = "==3.21.2"
requests = "==2.32.3"
urllib3 = "==2.2.2"
PyJWT = "==2.6.0"
pymisp = "==2.4.190"

[dev-packages]
flake8 = "==7.0.0"
coverage = "==7.5.3"
pytest = "==8.2.1"
pip-audit = "==2.7.3"

[requires]
python_version = "3.11"
